body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222222;
}

@media only screen and (max-width: 600px) {
    iframe {
    width: 100vw;
    }
}

.column {
  display: inline-block;
  margin: 0px;
  box-sizing: border-box;
}

.left, .right{
  padding: 10px;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}

.container {
  color: rgb(175, 175, 175);
  background-color: #ffffff00;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 0px;
  display: flex;
  max-width: 100vw;
  margin: 0 auto;
  flex-wrap: wrap
}

h1 {
  color: white;
}

h2 {
  color: #0078d4;
}

h3 {
  color: white;
}

p {
  line-height: 1.6;
}

.links {
  text-decoration: none;
  color: rgb(175, 175, 175);
}

.meet, .contact_section {
  text-align: left;
  margin: 0 auto;
}

.pfp {
  width: 100%;
  float: left;
  object-fit: cover;
  margin-bottom: 20px;
}

#myName {
  font-size: 3vw;
  text-shadow: #303030 3px 3px 2px;
}

.section {
  margin-bottom: 20px;
}

.section:last-child {
  margin-bottom: 0;
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact i {
  margin-right: 10px;
  font-size: 20px;
  color: #0078d4;
}

.fbButton{
  color: white;
  font-size: 15px;
  background:none; 
  border:none;     
}

.fbButton:hover, .links:hover{
  color: rgb(0, 110, 255);
  font-weight: bold;
}

.education,
.experience {
  margin-top: 10px;
  border-left: 2px solid #0078d4;
  padding-left: 10px;
}

.div-img {
  max-width: 805px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.photo {
  height: auto;
  width: 30vw;
  margin: 10px;
  border: groove red 2px;
}

.ytVideo {
  width: 735px;
  height: 435px;
  margin: 10px;
  border: groove red 2px;
}

.highlight {
  color: white;
}

.light {
  font-size: 2rem;
}