html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

body.signupPage {
    height: 100vh;
}

/*==========MISC===========*/

a {
    text-decoration: none;
    transition: 0.5s;
}

.weblogo img{
    width: 100%;
}

:root {
    --theme-col: #f7bf50;
    --bg-dark: #1a1a1a;
    --bg-darker: #111111;
    --grey-col: #323232;
    --bg-light: #eeeeee;
    --dark-text-col: #444;
    --white-text-col: #fff;
}

.name-brand {
    border-radius: 10px;
}

.age-limit {
    color: red;
}

.aboutUs {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white-text-col);
    padding: 10px;
    border: 1px solid #ccc;
}

.aboutUs-link:hover + .aboutUs {
    display: block;
}

/*==========NavBar==========*/

.navbar {
    font-size: 0.75em;
    width: 100%;
    height: 70px;
    background-color: var(--bg-light);
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar a:hover {
    color: var(--theme-col);
}

.navbar .user {
    float: left;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    z-index: 1;
}

.user a {
    padding: 0;
    margin: 0;
    font-size: 10px;
}

.user a:hover {
    color: red;
    border-radius: 50px;
}

.user p {
    color: var(--dark-text-col);
    margin: 5px;
    font-size: 30px;
}

.logoutBtn i {
    font-size: 1.5em;
    padding: 0;
}

.nav-items {
    display: flex;
}

.navbar a {
    display: block;
    color: var(--dark-text-col);
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

.navlogo {
    font-weight: bolder;
    letter-spacing: 1px;
    color: white;
    font-size: 1.5rem;
    padding-right: 10px;
    margin: 0;
}

.navlogo-initial {
    font-weight: bolder;
    letter-spacing: 1px;
    color: var(--theme-col);
    font-size: 1.5rem;
    padding-right: 10px;
    margin: 0;
}

.sidebar {
    height: 100%;
    width: 0vw;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    font-size: 0.75em;
    background-color: var(--dark-text-col);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

.sidebar-categ {
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: 0.1em;
    padding: 0 1em 0 1em;
    color: var(--white-text-col);
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    cursor: pointer;
    font-size: 2em;
    color: var(--dark-text-col);
    padding: 10px 15px;
    border: none;
}

.sidebar-link {
    font-size: 1rem;
    color: white;
    margin: 10px 10px 10px;
    padding: 15px 15px 15px;
    justify-content: center;
    align-items: center;
    width: 80%;
    transition: 0.5s;
    border-radius: 40px;
}

.sidebar-link:hover {
    background-color: var(--grey-col);
    color: var(--theme-col);
    border-radius: 30px;
}

@media screen and (max-width: 600px) {
    .navbar a {display: none;}
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/*==========Index/Home==========*/

.slider-container {
    height: 90vh;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: auto;
}

.latest-news {
    display: flex;
    margin: 0;
    padding-left: 5em;
    font-size: 2em;
    gap: 1em;
    margin-top: 1em;
}

.latest-news a {
    color: var(--white-text-col);
    background-color: #000;
    padding: 5px 10px;
    border: 2px solid #000;
}

.latest-news a:hover {
    background-color: var(--white-text-col);
    color: black;
}

.latest-news#options {
    font-size: 1em;
}

/*==========Carousel==========*/

.recom-grid {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.recom-grid-slides {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.recom-slide {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: row;
}

.recom-slide-view {
    position: relative;
    width: 40%;
}

.recom-slide-view img {
    width: 25em;
    height: auto;
    object-fit: cover;
}

.recom-slide-view p {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: var(--theme-col);
    padding: 10px;
    color: white;
}

.recom-slide-view:hover p {
    display: block;
}

.recom-slide-content {
    padding: 1em;
    width: 60%;
}

.recom-slide-desc {
    color: var(--dark-text-col);
    margin: 0 0 10px;
}

.recom-slide-bottom-text {
    font-weight: bold;
}

.info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.info-grid-slides {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.info-slide {
    width: 25vw;
    height: 50vh;
    padding: 1em;
    margin: 1em;
    font-size: 1.25em;
    background-color: var(--bg-light);
    border-radius: 10px;
}

.info-slide a {
    padding: 18px 20px;
    color: var(--dark-text-col);
    font-style: oblique;
    font-weight: bolder;
}

.info-slide-desc {
    color: var(--dark-text-col);
    font-weight: 600;
}

.info-slide-desc i {
    font-size: 3em;
}

/*==========Products==========*/

.item-container {
    display: flex;
    max-width: 100vw;
    margin: 0 auto;
    flex-wrap: wrap;
}

.items-column-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-height: 45vh;
    overflow: hidden;
    transition: 0.5s ease-out;
}

.expanded {
    max-height: 100%;
}

@media screen and (max-width: 800px) {
    .items-column-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

.shbtn {
    background: none;
    font-size: 0.75em;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.shbtn, .shbtn::before, .shbtn::after {
    background: transparent !important;
}

button.toggleButton {
    letter-spacing: 0.5px;
    width: 99%;
    padding: 10px;
    margin: 10px;
    border: 2px solid var(--bg-dark);
    border-radius: 10px;
    background-color: var(--theme-col);
    text-align: center;
}

.items-column {
    display: inline-block;
    margin: 0px;
    box-sizing: border-box;
}

.items-column.left {
    width: 20%;
    background-color: var(--bg-darker);
}

.items-column.right {
    width: 80%;
}

.item {
    letter-spacing: 0.5px;
    font-weight: 100;
    height: 45em;
    width: 15em;
    margin: 10px;
    text-align: center;
    overflow: hidden;
    border: 1px #fff solid ;
}

.item-name {
    display: block;
    font-size: 1.20em;
    padding-left: 0.5em;
    color: var(--grey-col);
}

.item-price {
    font-weight: 500;
    position: absolute;
    font-size: 1.15em;
    padding: 2px;
    margin-top: -30px;
    margin-left: 0.5em;
    color: var(--grey-col);
    background-color: var(--white-text-col);
    transition: 0.5s ease-out;
}

.item:hover { 
    border: 1px solid #000;

    .item-price {
        margin-top: -40px;
    }
}

.item-image {
    height: 240px;
    width: 240px;
}

.item-content {
    text-align: start;
    padding-left: 0.5em;
    font-size: 0.75em;
    margin-top: -10px; 
    transition: 1s ease-in-out;
}

.index-panel {
    width: 100%;
}

.panopt {
    letter-spacing: 1px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panopt a {
    font-size: 1rem;
    color: white;
    margin: 10px 10px 10px;
    padding: 15px 15px 15px;
    justify-content: center;
    align-items: center;
    width: 80%;
    transition: 0.5s;
    border-radius: 40px;
}

.panopt a:hover {
    background-color: var(--dark-text-col);
    color: var(--theme-col);
    border-radius: 50px;
}

.panopt .fa {
    font-size: inherit;
    padding: 5px;
}

/*==========Product Page==========*/

.product-container {
    color: #282828;
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.product-specs {
    font: 15px/1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
}

.product-specs.appearance,.product-image,.product-image img {
    height: 60vh;
    background-color: white;
}

.product-specs.specs,.product-image-title {
    height: 50vh;
    background-color: white;
}

.product-specs-desc {
    object-fit: cover;
    height: auto;
    padding: 10px;
    border-bottom: 1px solid #d4d4d4;
}

.product-image, .product-image-title {
    object-fit: cover;
    padding: 10px;
    border-bottom: 1px solid #d4d4d4;
}

.proImg-title p {
    margin-left: 5em;
    font-size: 0.95em;
    color: #2b2b2b;
}

/*==========Sign Up==========*/

.signupPanel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100%;
}

.panelMain{
    display: block;
	width: 30em;
	height: 35em;
	background: red;
	overflow: hidden;
    background-color: #5a5a5a;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
    justify-content: center;
    align-items: center;
}

#chk{
	display: none;
}

.signup{
	position: relative;
	width:100%;
	height: 100%;
}

.signupPanel-moreInfo {
    color: #fff;
    text-align: center;
}

.signupPanel label, .loginPanel label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}

.panelMain input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}

.signupPanel button, .loginPanel button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: var(--theme-col);
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.signupPanel button:hover, .loginPanel button:hover{
	background: var(--theme-col);
}

.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.login label{
	color: var(--theme-col);
	transform: scale(.6);
}


#chk:checked ~ .login{
	transform: translateY(-500px);
}

#chk:checked ~ .login label{
	transform: scale(1);	
}

#chk:checked ~ .signup label{
	transform: scale(.6);
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.closeBtn {
    position: absolute;
    top: -7%;
    right: 30%;
    font-size: 7em;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 2px 2px 1px #eebc1d;
}

/*==========Add Form==========*/

body.addForm {
    height: 100vh;
}

/*==========Footer==========*/

footer{
    background-color: #111010;
}
.f-item-con{
    padding: 1.5rem 4rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 2rem;
}
footer .app-name{
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}
.app-name .app-initial{
    color: var(--theme-col);
}
footer .app-info p{
    color: white;
    padding-left: 1.65rem;
}

footer .footer-title{ 
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: white;
    border-left: 4px solid var(--theme-col);
    padding-left: 1.5rem;
    height: fit-content;
}
footer ul{ 
    padding-left: 1.75rem;
    color: white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-top: .5rem;
}
footer ul li a{ 
    margin: .25rem 0;
    cursor: pointer;
    color: #d4d4d4;
    width: fit-content;
}

footer ul li a:hover{
    color: white;
}
footer .help-sec{
    grid-column-start: 2;
}
footer .cr-con{
    background-color: #232127;
    color: white;
    padding: 1rem 4rem;
    text-align: center;
}
.g-i-t{
    display: grid;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.g-i-t form{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
form .g-inp{
    padding: .25rem .5rem;
    font-size: 16px;
}
.g-inp textarea{
    height: 150px;
}
.f-btn{
    padding: .25rem 1rem;
    background-color: var(--theme-col);
    border-radius: .25rem;
    font-size: 16px;
    color: white;
    font-weight: 500;
}






.itemTest {
    letter-spacing: 0.5px;
    font-weight: 100;
    height: 45em;
    width: 15em;
    margin: 10px;
    text-align: center;
    overflow: hidden;
    border: 1px #fff solid ;
}

.item-nameTest {
    display: block;
    font-size: 1.20em;
    padding-left: 0.5em;
    color: var(--grey-col);
}

.item-imageTest {
    height: 240px;
    width: 240px;
    object-fit: cover;
}

.item-priceTest {
    font-weight: 500;
    position: absolute;
    font-size: 1.15em;
    padding: 2px;
    margin-top: -30px;
    margin-left: 0.5em;
    color: var(--grey-col);
    background-color: var(--white-text-col);
    transition: 0.5s ease-out;
}

.item-contentTest {
    text-align: start;
    padding-left: 0.5em;
    font-size: 0.75em;
    margin-top: -10px; 
    transition: 1s ease-in-out;
}

.itemTest:hover { 
    border: 1px solid #000;

    .item-priceTest {
        margin-top: -40px;
    }
}